body {
     background-color: #000000;
     color: #006de6;
}
 .btn {
     color: #917474 !important;
}
 .rel {
     color: #282861 !important;
}
 #email i {
     text-decoration: none;
     float: right;
     color: #917474 !important;
}
 .btn-outline-dark {
     border-color: #5b5bfc !important;
}
 .footer {
     margin-top: 5% !important;
     margin-bottom: 10px;
}
 @media (max-width: 479px) {
     .footer {
         margin-top: 35% !important;
    }
}
 .modal {
     display: none;
     position: fixed;
     z-index: 1;
     padding-top: 100px;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgb(0,0,0);
     background-color: rgba(0,0,0,0.9);
}
 .modal-content {
     display: block;
     margin: auto;
     max-width: 100%;
     max-height: 100vh;
     width: auto;
     height: auto;
}
 .close {
     position: absolute;
     top: 15px;
     right: 35px;
     color: #f1f1f1;
     font-size: 40px;
     font-weight: bold;
     cursor: pointer;
}
